---
import Layout from '../layouts/BlogPost.astro';
import { getEntry } from 'astro:content';

const about = await getEntry('pages', 'about');
const data = about.data;
const body = about.body;
---

<Layout
  title={data.title ?? 'About'}
  description={data.description ?? ''}
>
  <div innerHTML={body}></div>
</Layout>

